@import '_mixins.scss';
@import '_styles.scss';
@import '_variaveis.scss';

@media only screen and (max-width: 300px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(80px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 90%, 20px, 5%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 25px;
}

.sectionTexto {
@include float(30px, 100%);
font-size: 20px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 200px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 301px) and (max-width: 400px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(80px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 90%, 20px, 5%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 25px;
}

.sectionTexto {
@include float(30px, 100%);
font-size: 20px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 240px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 401px) and (max-width: 480px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 55%, 30px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 25px;
}

.sectionTexto {
@include float(30px, 100%);
font-size: 20px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 320px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 481px) and (max-width: 540px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 55%, 30px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 25px;
}

.sectionTexto {
@include float(30px, 100%);
font-size: 20px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 320px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 541px) and (max-width: 640px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 55%, 30px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(30px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 641px) and (max-width: 700px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 55%, 30px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(30px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 701px) and (max-width: 740px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 55%, 30px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(30px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 741px) and (max-width: 790px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 45%, 25px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(25px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 791px) and (max-width: 1000px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 45%, 25px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(25px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 1001px) and (max-width: 1080px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 45%, 18px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(20px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 1081px) and (max-width: 1200px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 45%, 18px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(20px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 1201px) and (max-width: 1360px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 35%, 18px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(10px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 1361px) and (max-width: 1400px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 35%, 18px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(10px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 1401px) and (max-width: 1550px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 35%, 18px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(10px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 1551px) and (max-width: 1800px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 35%, 18px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(10px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 1801px) and (max-width: 1980px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 35%, 18px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(10px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 1981px) and (max-width: 2400px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 35%, 18px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(10px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 2401px) and (max-width: 2700px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 35%, 18px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(10px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 2701px) and (max-width: 3100px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 35%, 18px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(10px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}

@media only screen and (min-width: 3101px) {
body {
margin: 0;
padding: 0;
}

#sectionPage {
@include float(700px, 100%, 0, 0, true);
padding-bottom: 50px;
font-family: 'Segoe UI';
}

#sectionHeader {
@include float(100px, 100%);
background-color: #eee;
}

#sectionLogo {
@include float(70%, 35%, 18px, 2%);
background: url(../../Imagens/LogoRioSemFundo.png) no-repeat;
background-size: contain;
}

#articleCadastro {
@include float(auto, 80%, 2%, 10%);
}

#sectionTitle {
@include float(50px, 100%);
font-weight: bold;
font-size: 30px;
}

.sectionTexto {
@include float(10px, 100%);
font-size: 22px;
}

.sectionControl {
@include float(35px, 100%, 2%);
}

.TextBox {
width: 400px;
height: 30px;
font-size: 20px;
}

.Button {
background-color: $verde;
font-weight: bold;
width: 120px;
height: 40px;
padding-right: 10px;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: 'Segoe UI';
font-size: 20px;
color: white;
cursor: pointer;
}
}
